@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f2fbf9;
  --color-brand-100: #d3f4ee;
  --color-brand-200: #a7e8de;
  --color-brand-300: #65d0c4;
  --color-brand-400: #47bab1;
  --color-brand-500: #2d9f97;
  --color-brand-600: #227f7b;
  --color-brand-700: #1f6664;
  --color-brand-800: #1d5251;
  --color-brand-900: #1c4544;
  --color-brand-950: #0b2728;
}
