@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f6f5fd;
  --color-brand-100: #efecfb;
  --color-brand-200: #dfdbf9;
  --color-brand-300: #c8bef4;
  --color-brand-400: #ac9aeb;
  --color-brand-500: #8967e0;
  --color-brand-600: #7f51d6;
  --color-brand-700: #6f3fc2;
  --color-brand-800: #5c34a3;
  --color-brand-900: #4d2d85;
  --color-brand-950: #2f1b5a;
}
